Data.PublisherClient/Connected Services/Services/Publisher.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://services.github.com/TimothyK/HitchhikerGuide/Publisher" elementFormDefault="qualified" targetNamespace="https://services.github.com/TimothyK/HitchhikerGuide/Publisher" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PublisherService.Service" />
  <xs:element name="UpdatePlanet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestId" type="q1:guid" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PublisherService.Service" minOccurs="0" name="planet" nillable="true" type="q2:Planet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlanetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestId" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PublisherService.Service" minOccurs="0" name="GetPlanetsResult" nillable="true" type="q4:ArrayOfPlanet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlanet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="requestId" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PublisherService.Service" minOccurs="0" name="planet" nillable="true" type="q6:Planet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePlanetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>